<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 main_header_left">
                        <p>Welcome to the Developer's World</p>
                        <h1>I am a <span class="text_clr">MERN</span> Developer</h1>
                        <a href="/"><button>check now</button></a>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 main_header_right">
                        
                     <figure>
                         <img src="image/img0.jpg" alt="alok" class="img-fluid" title="acoder">
                     </figure>


                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!-- footer -->
    {{>footer}}
</body>
</html>